{% load static %}
<li class="nav-item">
    <a class="nav-link spinner-loading" style="color: black;" href="/"><img src="{% static 'icons/home.svg' %}" width="25rem"
            style="margin-right: 20px;" alt="home"> Home</a>
</li>

<!-- Add -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false" style="color: black;">
        <img src="{% static 'icons/experience.svg' %}" width="25rem" style="margin-right: 20px;" alt="courses">
        Cadastrar
    </a>

    <!-- Dropdown -->
    <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown" style="border: none;">
        <li><a class="dropdown-item spinner-loading" href="/dashboard/experiences/"> Experiências Profissionais</a></li>
        <li><a class="dropdown-item spinner-loading" href="/dashboard/courses/"> Cursos</a></li>
        <li><a class="dropdown-item spinner-loading" href="/dashboard/favorites/"> Link</a></li>
        <li><a class="dropdown-item spinner-loading" href="/dashboard/technologias/"> Tecnologias</a></li>
        <li><a class="dropdown-item spinner-loading" href="/dashboard/tutorials/add/"> Tutorial</a></li>
    </ul>
</li>

<!-- Tutorial -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false" style="color: black;">
        <img src="{% static 'icons/tutorial.svg' %}" width="25rem" style="margin-right: 20px;" alt="courses">
        Tutorials
    </a>

    <!-- Dropdown -->
    <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown" style="border: none;">
        <li><a class="dropdown-item spinner-loading" href="/dashboard/tutorials/tec/Java/"> Java</a></li>
        <li><a class="dropdown-item spinner-loading" href="/dashboard/tutorials/tec/Python/"> Python</a></li>
        <li><a class="dropdown-item spinner-loading" href="/dashboard/tutorials/tec/Linux/"> Debian</a></li>
    </ul>
</li>