{% load static %}
<div class="container">
    <div class="row align-items-center justify-content-around flex-row-reverse">
        <div class="about-text" style="padding-top: 3rem;">
            <h3 class="title-favorites">{{ dts.name }}</h3>
            <div style="padding: 2rem; height: 100%; background-color: rgb(244, 250, 255); border-radius: 5%;">
                {{ dts.markdown | safe }}
            </div>
            <a href="/" class="btn btn-primary" style="margin-top: 2rem;">Retornar</a>
        </div>
    </div>
</div>